body {
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(3,161,207,1) 0%, rgba(3,59,108,1) 0%, rgba(6,118,167,1) 50%, rgba(3,166,212,1) 100%, rgba(5,25,64,1) 100%, rgba(0,212,255,1) 100%);
   }

.titulo{
    display: flex;
    border-color: black ;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#cityName{
    display: inline;
    height: 2rem;
    margin-top: 0.8rem;
    border-radius: 0.5rem;
    background:  #F8F8FC;
    border: 1px solid  #000000;
    outline: 0;
    padding: 0 1.6rem;
}
#btn{
    display: inline;
    height: 2rem;
    margin-top: 0.8rem;
    border-radius: 0.5rem;
    background:  #9C98A6;
    border: 1px solid  #000000;
    outline: 0;
    padding: 0 1.6rem;
}
#pesquisa{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#principal{
    align-self: center;
    width: 490px;
    height: 490px;
    display: inline-block;
    justify-content: center;
    background-color:#f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid  #ffffff;
    margin-top: 1rem;
    margin-left: 30rem;
    margin-right: 30rem;
    border-radius: 10px;
}
#principal h3{
    margin-left: 1rem;
}
#imagem{
    margin-left: 9.8rem;
    margin-bottom: 2rem;
    width: 100px;
    height: 100px;
    
}
.flip-card {
    margin: 2rem;
    display: inline-block;
    background-color: transparent;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: rgba(255, 245, 238, 0.836);
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgba(30, 143, 255, 0.219);
    color: white;
    transform: rotateY(180deg);
  }

  @media 