body {
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(3,161,207,1) 0%, rgba(3,59,108,1) 0%, rgba(6,118,167,1) 50%, rgba(3,166,212,1) 100%, rgba(5,25,64,1) 100%, rgba(0,212,255,1) 100%);
   }

#titulo{
    display: flex;
    border-color: black ;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
#pesquisa{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#principal{
    width: 500px;
    display: inline-block;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    margin-right: 30rem;
    margin-left: 30rem;

}
#principal h3{
    margin-left: 1rem;
}
#imagem{
    margin-left: 9.8rem;
    margin-bottom: 2rem;
    width: 100px;
    height: 100px;
    
}